{% extends 'base.html' %}
{% load static %}

{% block extra_html %}
{% endblock %}

{% block content %}
    {% if query %}
        <div id="content">
            <div class="post">
                <div class="post-bgtop">
                    <div class="post-bgbtm">
                        <h3>Resultados:</h3>
                        {% for result in page.object_list %}
                            {% if result.model_name == 'itinerario' %}
                                <a href="/ver_itinerario/{{result.pk}}">Itinerario: {{ result.titulo }}, {{ result.fecha }}</a>
                            {% endif %}
                            {% if result.model_name == 'dia' and result.estado == 'Publicado' %}
                                <a href="/ver_itinerario/{{result.id_itinerario}}">Itinerario: {{ result.titulo_itinerario }}, {{ result.fecha_itinerario }}</a>
                            {% endif %}
                            {% if result.model_name == 'comentario' and result.estado == 'Publicado' %}
                                <a href="/ver_itinerario/{{result.id_itinerario}}">Itinerario: {{ result.titulo_itinerario }}, {{ result.fecha_itinerario }}</a>
                            {% endif %}
                            <br>
                        {% empty %}
                            <p>No se encontró contenido.</p>
                        {% endfor %}

                        {% if page.has_previous or page.has_next %}
                            <div>
                                {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
                                |
                                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}