body {
	background-color: #FFEFD9;
}
h1 {
	color: #66A3FF;
}
form {
	color: #66A3FF;
}
p {
	background-color: #FFEFD9;
}

.banner {
	z-index:-1;
}

.cabecera_menu {
	margin:auto;
	width: 500px;
	font: oblique bold 120% cursive;
	font-size: 20;
}

* {
	margin:0px;
	padding:0px;
}

ul, ol {
	list-style:none;
}

.menu > li {
	float:left;
}

.menu ul {
	border-style:; 
}
.menu li a {
	background-color: transparent;
	color: #F1652E;
	text-decoration:none;
	padding:10px 12px;
	display:block;
}

.menu li a:hover {
	background-color:#434343;
}

.menu li ul {
	display:none;
	position:absolute;
	min-width:140px;
}

.menu li:hover > ul {
	display:block;
}

.menu li ul li {
	position:relative;
}

.menu li ul li ul {
	right:-140px;
	top:0px;
}