.fleft {float:left}
.fclear {clear:both}

body {background:#fff url(imagenes/banner.jpg) repeat-x left top}

/* Cuando tengamos busqueda
#search {padding:0 0 40px 0}
#search form {margin:0;padding:0}
#search fieldset {margin:0;padding:0;border:none}
#search input {float:left;font:11px Tahoma, Geneva, sans-serif;padding:2px 2px}
#search-text {width:100px;border:1px solid #000;color:#000}
#search-submit {height:21px;margin-left:10px;padding:0 2px;border:none;background:#E71810;color:#fff}
*/

#page {width:900px;
	margin-left:0%}
#content {float:left;
    margin-left: 20%;
	width:630px}

.post {background:url(imagenes/img05.jpg) 
	repeat-y left top}
.post-bgtop {background:url(imagenes/img04.jpg) no-repeat left top}
.post-bgbtm {background:url(imagenes/img06.jpg) no-repeat left bottom;
	padding:50px 40px 30px 40px}
.post .title {margin:0;
	padding:0 0 5px 0;
	color:#232F01}
.post .title a {letter-spacing:-1px;
	text-decoration:none;
	font-family:Arial,Helvetica,sans-serif;
	font-weight:normal;
	font-size:32px;
	color:#3A3D40}
.post .y{}
.post .imagen_itinerario {display:block;
	width:115px;
	height:32px;
	padding:8px 0 0 0; 
	no-repeat left top;}
.post img{height:150px}
.post .byline {font-size:12px;
	font-style:italic}

button#perfilb {
	margin-top: 7px;
}

h1#titulo-centrado{
	position:relative;
	text-align: center;
	color: blue;
	font-weight: bold;
}

button#perfilb {
	color:black;
}

h2#titulo-itinerario, h3#titulo-itinerario {
	text-align: center;
}

div#botones{
	text-align: center;
}

.sidebar1 {
    background: #F17153;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F17153, #F58D63, #f1ab53);
    /* Standard syntax */
    padding: 0px;
    min-height: 100%;
    min-width: 16%;
    border-radius: 4px;
}

.list {
    color: #fff;
    list-style: none;
    padding-left: 0px;
}
.list::first-line {
    color: rgba(255, 255, 255, 0.5);
}
.list> li, h5 {
    padding: 5px 0px 5px 20px;
}
.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    font-weight: bolder;
    padding-left: 35px;
}
.main-content{
text-align:center;
}