/*NUESTRO*/
.fleft {float:left}
.fclear {clear:both}

body {background:#fff url(imagenes/banner.jpg) repeat-x left top}

#page {width:900px;
	margin-left:0%}
#content {float:left;
    margin-left: 20%;
	width:630px}

.post {background:url(imagenes/img05.jpg) 
	repeat-y left top}
.post-bgtop {background:url(imagenes/img04.jpg) no-repeat left top}
.post-bgbtm {background:url(imagenes/img06.jpg) no-repeat left bottom;
	padding:50px 40px 30px 40px}
.post .title {margin:0;
	padding:0 0 5px 0;
	color:#232F01}
.post .title a {letter-spacing:-1px;
	text-decoration:none;
	font-family:Arial,Helvetica,sans-serif;
	font-weight:normal;
	font-size:32px;
	color:#3A3D40}
.post .y{}
.post .imagen_itinerario {display:block;
	width:115px;
	height:32px;
	padding:8px 0 0 0; 
	no-repeat left top;}
.post img{height:150px}
.post .byline {font-size:12px;
	font-style:italic}

button#perfilb {
    margin-top: 7px;
}

button#perfilb > a {
    color:white;
}

h1#titulo-centrado, h2#titulo-itinerario, h3#titulo-itinerario{
	position:relative;
	text-align: center;
	color: #F17153;
	font-weight: bold;
    text-shadow: -1px -1px 1px black;
    font-family: cursive;
}

button#perfilb {
	color:black;
}

.caret{
    border-top:4px solid white;
}

div#botones{
	text-align: center;
}

.sidebar1 {
    background: #F17153;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#F17153, #F58D63, #f1ab53);
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(#F17153, #F58D63, #f1ab53);
    /* Standard syntax */
    padding: 0px;
    min-height: 100%;
    min-width: 16%;
    border-radius: 4px;
}

.list {
    color: #fff;
    list-style: none;
    padding-left: 0px;
}
.list::first-line {
    color: rgba(255, 255, 255, 0.5);
}
.list> li, h5 {
    padding: 5px 0px 5px 20px;
}
.list>li:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 5px solid white;
    color: white;
    font-weight: bolder;
    padding-left: 35px;
}

li#li-menu:hover{
    background-color: rgba(255, 255, 255, 0.2);
    border-bottom: 3px solid white;
    color: white;
    font-weight: bolder;
    padding: 0px 0px 0px 0px;
}

.main-content{
text-align:center;
}

.dropdown-menu > li > a:hover {
  color: white;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  font-weight: bolder;
  padding: -5px 0px 10px 0px;
}

/*Perfil Usuario*/
.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

.img-circle {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.glyphicon-envelope{
    font-size: 20;
}

a#contacto {
    font-size: 14;
    text-align: right;
}

td#tbl-titulo {
    font-weight: bold;
}

.panel-title {
    color:black;
    text-align: center;
}

div#heading-perfil, div#footer-perfil {
    background-color: #f9ecd6;
}
/*Fin Perfil Usuario*/

/*logo*/
img#logo-img1{
    padding-bottom: 7px;
    height: 40px;
    width: 200px;
    position: relative;
    margin-top: -5px;
}
/*fin logo*/

img#img-licencia {
    margin-left: 40%;
    margin-top: -2.5%;
    height: 30px;
}

input#busqueda {
    width: 250px;
}

p#mensajes{

}