{% extends 'base.html' %}
{% load static %}
{% block extra_html %}
{% endblock %}
{% block titulo %}¿Quiénes somos?{% endblock %}

{% block content %}
	<p>Somos un equipo de desarrolladores de la ciudad de Rafaela que busca crear un espacio orientado al turismo. En el mismo, los usuarios de la provincia de Santa Fe disfrutarán de compartir sus itinerarios de viaje referidos a experiencias personales. 
	Esperamos que cada persona pueda optar por una mejor alternativa a través del uso de Turismo.com</p>
{% endblock %}
