{% load static %}
<html>

    <head>
        <script src="{% static 'sitio/jquery.min.js' %}"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <link rel="stylesheet" href="bootstrap.min.css" />
        <link rel="stylesheet" href="{% static 'sitio/estilos.css' %}" type="text/css" />
        
        {% block extra_html %}
        {% endblock %}
    </head>

    <body>
    
        {% block banner %}
            <img src="{% static 'sitio/imagenes/banner.jpg' %}" alt="banner">
            <ul class="bienvenida">Bienvenido a Turismo.com, <br><br>encontrá tu viaje perfecto!</ul> 
        {% endblock %}

        {% block menu %} 
        <div class="cabecera_menu">
            {% if user.is_anonymous %}
                <ul class="menu">
                    <li id="inicio"><a href="/inicio">Inicio</a></li>
                    <li id="acerca-de"><a href="/acerca_de">Acerca de</a></li>
                    <li id="login"><a href="/accounts/login">Ingresar</a></li>
                    <li id="register"><a href="/accounts/register">Registrarse</a></li>
                </ul>
            {% else %}
                <ul class="menu">
                    <li id="inicio"><a href="/inicio">Inicio</a></li>
                    <li id="acerca-de"><a href="/acerca_de">Acerca de</a></li>
                    <li id="crear_itinerario"><a href="/crear_itinerario">Nuevo Itinerario</a></li>
                    <li id="perfil"><a href="">Perfil</a>
                        <ul>
                            <li id="ver-perfil"><a href="/perfil">Ver mi perfil</a></li>
                            <li id="reset-password"><a href="/accounts/password/reset">Cambiar contraseña</a></li>
                            <li id="logout"><a href="/accounts/logout">Cerrar sesión</a></li>
                        </ul>
                    </li>
                </ul>
            {% endif %}
        </div>
        <br><br>
        {% endblock %}


        
        <h1>{% block titulo %}{% endblock %}</h1>
        
        {% block contenido %}
        {% endblock %}

        {% block extra_js %}
            <script src="{% static 'sitio/base.js' %}" ></script>
        {% endblock %}

    </body>

</html>