{% load static %}
<html>

    <head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
        
      
        <!-- jQuery library -->
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>

        <!-- Latest compiled JavaScript -->
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

        <!-- include summernote css/js-->
        <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.css" rel="stylesheet">
        <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.3/summernote.js"></script>

        <link rel="stylesheet" href="{% static 'sitio/estilos.css' %}" type="text/css" />

        

        {{ form.media }}

        {% block extra_html %}
        {% endblock %}
    </head>

    <body>
        <!--menu-->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand"><img id="logo-img1" src= "{% static 'sitio/imagenes/logo.png' %}"></a>
                </div>
                
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li id="li-menu"><a id="a-menu" href="/inicio">Inicio</a></li>
                        <li id="li-menu"><a id="a-menu" href="/acerca_de">Acerca de</a></li>
                        {% if not user.is_anonymous %}
                            <li id="li-menu"><a id="a-menu" href="/crear_itinerario">Nuevo Itinerario</a></li>
                            {% if user.is_staff %}
                                <li id="li-menu"><a id="a-menu" href="/admin">Admin</a></li> 
                            {% endif %}   
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        {% if user.is_anonymous %}
                            <li id="li-menu"><a id="a-menu" href="/accounts/login">Ingresar</a></li>
                            <li id="li-menu"><a id="a-menu" href="/accounts/register">Registrarse</a></li>
                        {% else %}
                            <div class="dropdown">
                                <button id="perfilb" class="btn btn-link dropdown-toggle" type="button" data-toggle="dropdown"><a href="#">Perfil </a><span class="caret"></span></button>
                                <ul class="dropdown-menu" role="menu">
                                    <li role="presentation">
                                        <a id="a-menu" role="menuitem" tabindex="-1" href="/perfil">Ver mi perfil</a>
                                    </li>
                                    <li role="presentation">
                                        <a id="a-menu" role="menuitem" tabindex="-1" href="/accounts/password/reset">Cambiar Contraseña</a>
                                    </li>
                                    <li role="presentation" class="divider"></li>
                                    <li role="presentation">
                                        <a id="a-menu" role="menuitem" tabindex="-1" href="/accounts/logout">Cerrar sesión</a>
                                    </li>
                                </ul>
                            </div>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>


        <h1 id="titulo-centrado">{% block titulo %}{% endblock %}</h1>

        {% block contenido %}
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div id="page">
                        {% block content %}
                        {% endblock %}    
                    </div>
                </div>
            </div>
        </div>
        {% endblock %}         

        {% block licencia %}
        <div class="container">
            <div class="panel panel-default">
                <div class="panel-footer"><p>Creative Commons BY-NC-ND 4.0.</p></div>
            </div>
        </div>
        {% endblock %}

        {% block extra_js %}
            <script src="{% static 'sitio/base.js' %}" ></script>
            <script>
                function imgError(image) {
                image.onerror = "";
                image.src = "/static/sitio/imagenes/turismo_noimagen.jpg";
                return true;
            }
            </script>
        {% endblock %}

    </body>

</html>