<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="bootstrap.min.css" />

<h1>Espacio para crear itinerarios</h1>

<form method="post" enctype='multipart/form-data'>
    {% csrf_token %}

    {{ form.as_p }}

    <input name="borrador" type="submit" value="Guardar en borrador" />
    <input name="publicado" type="submit" value="Publicar itinerario" />
    <input name="agregar_dia" type="submit" value="Agregar dia" />
</form>
