{% extends 'base.html' %}
{% load static %}
{% block extra_html %}
{% endblock %}
{% block titulo %}Dias de Viaje{% endblock %}

{% block content %}
	<form method="post" enctype='multipart/form-data'>
    {% csrf_token %}
    
    {{ form.as_p }}

    <input name="btn_guardar_agregar" type="submit" value="Guardar y agregar dia" />
    <input name="btn_guardar_finalizar" type="submit" value="Guardar y finalizar" />
	</form>

	{% for dia in lista_dias %}
    	<h3>{{ dia.descripcion }}</h3><br>
    	<img src = "{{ dia.foto_dia.url }}" /> <br><br>
    {% endfor %}

{% endblock %}

{% block extra_js %}
{% endblock %}