{% extends 'base.html' %}
{% load static %}
{% block extra_html %}
{% endblock %}
{% block titulo %}{% endblock %}

{% block content %}
	<body onLoad="redireccionar()">
	{% if ya_denunciado == 0 %}
		<p>El contenido ha sido denunciado. En instantes se le redigirá a la página de inicio.</p>
	{% else %}
		<p>Usted ya ha denunciado este contenido. En instantes se le redigirá a la página de inicio. </p>
	{% endif %}
{% endblock %}

{% block extra_js %}
	<script language="JavaScript">
  		function redireccionar() {
    	setTimeout("location.href='/'", 5000);
    	}
	</script>
{% endblock %}