{% extends 'base.html' %}
{% load static %}
{% block extra_html %}
{% endblock %}
{% block titulo %}{% endblock %}

{% block content %}
	<div class="container">
        <div class="panel panel-default">
            <div class="panel-body" style="min-height: 3000px">
            	<div id="page">
            		<div class="inne_copy"></div>
        			<div id="page-bgtop">
						<div id="lista-itinerarios">
    						{% include 'lista_itinerarios.html' %}
						</div>
    				</div>
    				<div style="clear:both; height: 1px"></div>
    			</div>
            </div>
        </div>
    </div>
	
{% endblock %}

{% block extra_js %}
    <script src="{% static 'sitio/inicio.js' %}" ></script>
{% endblock %}



