{% for itinerario in lista_itinerarios %}
	{%if itinerario.estado == 'Publicado' %}
		<div id="content">
			<div class="post">
				<div class="post-bgtop">
					<div class="post-bgbtm">
						<h2 class="title"><a href="/ver_itinerario/{{ itinerario.id }}">{{itinerario.titulo|upper}}</a></h2>
						{% if request.user == itinerario.usuario %}
							<p class="byline">Publicado por mí hace {{itinerario.fecha|timesince}}</p>
							<a href="/modificar_itinerario/{{itinerario.id}}" class="btn btn-warning" role="button">Editar</a>
							<a href="/eliminar_itinerario/{{itinerario.id}}" class="btn btn-danger" role="button">Eliminar</a>
						{% else %}
							<p class="byline">Publicado por <a href="/ver_perfil/{{itinerario.usuario.id}}">{{ itinerario.usuario.username }}</a> hace {{itinerario.fecha|timesince}}</p>
						{% endif %}
						<div id="destino-itinerario"><h3>Destino: {{ itinerario.pais_destino.name }}</h3></div>
	    				<img id="imagen-itinerario" src = "{{ itinerario.foto_general.url }}" onerror="imgError(this);"/>	

					</div>
				</div>
			</div>
		</div>
	{% endif %}
{% endfor %}

{% block extra_js %}
    <script>
        function imgError(image) {
        image.onerror = "";
        image.src = "/static/sitio/imagenes/turismo_noimagen.jpg";
        return true;
    }
    </script>
{% endblock %}