{% for itinerario in lista_itinerarios %}
	<div id="content">
		<div class="post">
			<div class="post-bgtop">
				<div class="post-bgbtm">
					<h2 class="title"><a href="/ver_itinerario/{{ itinerario.id }}">{{itinerario.titulo|upper}}</a></h2>
					<p class="byline">Publicado por {{itinerario.usuario.username}} hace {{itinerario.fecha|timesince}}</p>
					<div id="destino-itinerario"><h3>{{ itinerario.pais_destino }}</h3></div>
					<img id="imagen-itinerario" src = "{{ itinerario.foto_general.url }}"/>		
				</div>
			</div>
		</div>
	</div>
{% endfor %}