{% extends 'base.html' %}
{% load static %}
{% block extra_html %}
{% endblock %}
{% block titulo %}Espacio para editar itinerarios{% endblock %}

{% block content %}
	<div id="content"> 
		{% if perfil.estado == "Activo" %}
			<form method="post" enctype='multipart/form-data'>
		    {% csrf_token %}
		    {{ form.as_p }}
		    <input name="btn_crear_dias" type="submit" value="Finalizar edición" class= "btn btn-warning"/>
		    </form>
		{% else %}
			<p>Usted actualmente se encuentra restringido. Si cree que esto es un error, contáctese con un administrador</p>
		{% endif %}
	</div>
{% endblock %}