{% extends 'base.html' %}
{% load static %}
{% block extra_html %}
{% endblock %}
{% block titulo %}Espacio para editar itinerarios{% endblock %}

{% block content %}
	<div id="content"> 
		{% if perfil.estado != "Restringido" %}
			<form method="post" enctype='multipart/form-data'>
			    <h3 id="titulo-itinerario">Editar itinerario</h3>
			    {% csrf_token %}
			    {{form1.as_p}}

			    <h3 id="titulo-itinerario">Editar días</h3>

			    {% csrf_token %}
			    {{ form2.management_form }}

			    {% for form in form2 %}
			    	{{form}}
			    	<br>
			    {% endfor %}
			    <br>
			    <input name="btn_finalizar" type="submit" value="Guardar cambios y publicar" class= "btn btn-danger"/>
			    <input name="btn_agregar" type="submit" value="Agregar día" class= "btn btn-warning"/>
			     <input name="btn_borrador" type="submit" value="Guardar borrador" class= "btn btn-info"/>
		    </form>
		{% else %}
			<p>Usted actualmente se encuenra restringido. Si cree que esto es un error, contáctese con un administrador</p>
		{% endif %}
	</div>
{% endblock %}