{% extends 'base.html' %}
{% load static %}
{% block extra_html %}
{% endblock %}
{% block titulo %}Mi Perfil{% endblock %}

{% block content %}
	<h2> {{ perfil.nombre|upper}} {{ perfil.apellido|upper}}</h2>
	<img src = "{{ perfil.foto_perfil.url }}" />
	<p>{{ perfil.localidad}}</p>
	<p>{{ perfil.telefono}}</p>
	<form style="display: inline" action="/modificar_perfil/{{usuario.id}}/{{perfil.id}}" method="get">
	  <button>Modificar Perfil</button>
	</form>
	{% for itinerario in lista_itinerarios %}
    	<h3>{{ itinerario.fecha|date:"j F" }} <a href="/ver_itinerario/{{ itinerario.id }}">{{itinerario.titulo|upper}}</a></h3>
	{% endfor %}
{% endblock %}

{% block extra_js %}
{% endblock %}