{% extends 'base.html' %}
{% load static %}
{% block extra_html %}
{% endblock %}
{% block titulo %}{% endblock %}

{% block content %}

	<div id="content">
		<h2 id="titulo-itinerario">Itinerario</h2>
		<div class="post">
			<div class="post-bgtop">
				<div class="post-bgbtm">
					<h2> {{ itinerario.titulo|upper }}</h2>
					<h5>Creado por: {{ itinerario.usuario.username }} hace {{ itinerario.fecha|timesince }}</h5>
					<h5> Destino:{{ itinerario.pais_destino.name }}</h5><br>
					<img id="general-itinerario" src = "{{ itinerario.foto_general.url }}" onerror="imgError(this);" /><br><br>
					<p>{{ itinerario.texto_general }}</p><br>
				</div>
			</div>
		</div>
	</div>
		
	<div id="content">
		<h2 id="titulo-itinerario">Días de Viaje</h2>
	</div>

	{% for dia in lista_dias %}
		<div id="content">
			<div class="post">
				<div class="post-bgtop">
					<div class="post-bgbtm">
					    <h3>{{ dia.descripcion }}</h3><br>
    					<img src = "{{ dia.foto_dia.url }}" onerror="imgError(this);"/> <br><br>
    				</div>
				</div>
			</div>
		</div>
	{% endfor %}

	<div id="content">
		{% if request.user == itinerario.usuario %}
	    	<div id="botones">
	    		<a href="/modificar_itinerario/{{itinerario.id}}" class="btn btn-warning" role="button">Editar</a>
	    		<a href="/eliminar_itinerario/{{itinerario.id}}" class="btn btn-danger" role="button">Eliminar</a>
	    	</div>
	    {% endif %}
	   	<br><br>
	   	
	    
	    {% if user.is_authenticated and perfil.estado == "Activo" %}
	    	<h3 id="titulo-itinerario">Dejá tu comentario</h3>
		    <form method="post" enctype='multipart/form-data'>
				{% csrf_token %}
				{{ form.as_p }}
				<input name="btn_comentar" type="submit" value="Comentar" class="btn btn-warning" />
			</form>
		{% else %}
			<h3 id="titulo-itinerario">Comentarios</h3>
		{% endif %}
		<br>
		
		{% for comentario in lista_comentarios %}
			<div id="content">
				<div class="post">
					<div class="post-bgtop">
						<div class="post-bgbtm">
							<h4>Comentado por: {{ comentario.usuario.username }} hace {{ comentario.fecha|timesince }}</h4>
					    	<h4>{{ comentario.calificacion|upper }}</h4>
					    	<h5>{{ comentario.texto }}</h5>
					    	{% if user.is_authenticated and perfil.estado == "Activo" %}
					    		<a class="btn btn-link" href="/denunciar/{{comentario.id}}" type="button">Denunciar</a>
					    	{% endif %}
	    				</div>
					</div>
				</div>
			</div>
		{% endfor %}
{% endblock %}

