{% extends 'base.html' %}
{% load static %}
{% block extra_html %}
{% endblock %}
{% block titulo %}{% endblock %}

{% block content %}

	<div id="content">
		<h2 id="titulo-itinerario">Itinerario</h2>
		<div class="post">
			<div class="post-bgtop">
				<div class="post-bgbtm">
					<h2> {{ itinerario.titulo|upper }}</h2>
					<h6>Creado por: <a href="/ver_perfil/{{itinerario.usuario.id}}">{{ itinerario.usuario.username }}</a> hace {{ itinerario.fecha|timesince }}</h6><br>
					{% if user.is_authenticated and perfil.estado != "Restringido" %}
					    <div align="right" id = "denunciar">
					    	<img id = "iconos" src = "{% static 'sitio/imagenes/glyphicons/glyphicons-200-ban-circle.png' %}"> <a class="btn btn-link" href="/denunciar/Itinerario/{{itinerario.id}}" aria-label="Left Align" type="button">Denunciar</a>
					    </div>
					{% endif %}
					<h5> Destino: {{ itinerario.pais_destino.name }}</h5><br>
					<img id="general-itinerario" src = "{{ itinerario.foto_general.url }}" onerror="imgError(this);" /><br><br>
					<p>{{ itinerario.texto_general | safe}}</p><br>
					<p>Calificación promedio: {{promedio | floatformat:2}}. Cantidad de valoraciones: {{cantidad}}</p>
					<form method="post" enctype='multipart/form-data'>
						{% csrf_token %}
						{{ form2.as_p }}
						{% if not request.user.is_anonymous %}
							{% if puntaje.calificacion != None %}
								<div class="alert alert-info">
									<img id= "iconos" src = "{% static 'sitio/imagenes/glyphicons/glyphicons-194-ok-sign.png' %}">
									Usted ya ha calificado este itinerario como <strong>
									{% if puntaje.calificacion == 1 %}
										Malo
									{% endif %}
									{% if puntaje.calificacion == 2 %}
										Regular
									{% endif %}
									{% if puntaje.calificacion == 3 %}
										Bueno
									{% endif %}
									{% if puntaje.calificacion == 4 %}
										Muy Bueno
									{% endif %}
									{% if puntaje.calificacion == 5 %}
										Excelente
									{% endif %}
									</strong>
								</div>
							{% endif %}
							<input name="btn_puntuar" type="submit" value="Calificar" class="btn btn-warning" />
						{% else %}
							<div class="alert alert-info alert-dismissable">
								<button type="button" class= "close" data-dismiss="alert">&times;</button><img id= "iconos" src = "{% static 'sitio/imagenes/glyphicons/glyphicons-196-info-sign.png' %}">
								<strong>Atención!</strong> Si desea calificar este itinerario, debe iniciar sesión
							</div>
						{% endif %}
					</form>
				</div>
			</div>
		</div>
	</div>
		
	<div id="content">
		<h2 id="titulo-itinerario">Días de Viaje</h2>
	</div>

	{% for dia in lista_dias %}
		<div id="content">
			<div class="post">
				<div class="post-bgtop">
					<div class="post-bgbtm">
					    <h3>{{ dia.descripcion | safe}}</h3><br>
    					<img src = "{{ dia.foto_dia.url }}" onerror="imgError(this);"/> <br><br>
    				</div>
				</div>
			</div>
		</div>
	{% endfor %}

	<div id="content">
		{% if request.user == itinerario.usuario %}
	    	<div id="botones">
	    		<a href="/modificar_itinerario/{{itinerario.id}}" class="btn btn-warning" role="button">Editar</a>
	    		<a href="/eliminar_itinerario/{{itinerario.id}}" class="btn btn-danger" role="button">Eliminar</a>
	    	</div>
	    {% endif %}
	   	<br><br>
	   	
	    
	    {% if user.is_authenticated and perfil.estado != "Restringido" %}
	    	<h3 id="titulo-itinerario">Dejá tu comentario</h3>
		    <form method="post" enctype='multipart/form-data'>
				{% csrf_token %}
				{{ form1.as_p }}
				<input name="btn_comentar" type="submit" value="Comentar" class="btn btn-warning" />
			</form>
		{% else %}
			{% if perfil == 'None' %}
				<div class="alert alert-info alert-dismissable">
					<button type="button" class= "close" data-dismiss="alert">&times;</button><img id= "iconos" src = "{% static 'sitio/imagenes/glyphicons/glyphicons-196-info-sign.png' %}">
					<strong>Atención!</strong> Si desea comentar este itinerario, debe crear su <a href="/perfil/">perfil</a>. 
				</div>
			{% endif %}
			<h3 id="titulo-itinerario">Comentarios</h3>
		{% endif %}
		<br>
		
		{% for comentario in lista_comentarios %}
			<div id="content">
				<div class="post">
					<div class="post-bgtop">
						<div class="post-bgbtm">
							<h4>Comentado por: {{ comentario.usuario.username }} hace {{ comentario.fecha|timesince }}</h4>
							<h5>{% if comentario.estado == "Activo" %}
					    		{{ comentario.texto | safe}}
					    	{% else %}
					    		Este comentario ha sido eliminado por violar los términos y condiciones de Santa Fe por el mundo
					    	{% endif %}</h5>
					    	{% if user.is_authenticated and perfil.estado != "Restringido" %}
					    		<div align="right" id="denunciar">
					    			<img id = "iconos" src = "{% static 'sitio/imagenes/glyphicons/glyphicons-200-ban-circle.png' %}"> <a class="btn btn-link" href="/denunciar/Comentario/{{comentario.id}}" aria-label="Left Align" type="button">Denunciar</a>
					    		</div>
					    	{% endif %}
	    				</div>
					</div>
				</div>
			</div>
		{% endfor %}
{% endblock %}

